*{
    box-sizing: border-box;
    margin: 5px;
}

body{
    background-color: #b0aeab;
}

header{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    

}

.header-logo{
    height: 5vh;
    
    
}

.nav{
    display: flex;
    width: 300px;
    justify-content: space-between;
    list-style-type: none;
}

.nav-item-link:link{
    text-decoration: none;
    color: tomato;
    font-weight: bold;

}

.nav-item-link:hover{
    color:black;

}

.hero{
    height: 35rem;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.hero h1{
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 2rem;

}

.hero h1 span{
    text-decoration: underline;
    font-weight: 900;
}

.hero p{
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.6;
}

.container{
    display: flex;
    margin: 6rem auto;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 2rem;

}

.container img{
    width: 15rem;
    border-radius: 50%;  
}

article{
    max-width: 17.5rem;
    text-align: center;

}

article h2{
    font-weight: 600;
    text-transform: uppercase;
    margin: 2rem auto;

}article p{
    margin-bottom: 2rem;
    color: black;
}

article a:link{
    display: inline-block;
    padding: 1rem 1.5rem;
    border: 0.1rem solid tomato;
    border-radius: 3rem;
    color: tomato;
    text-decoration: none;

}
